<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIGITAL CV</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/laptop.css" />
    <link rel="stylesheet" href="../css/mobile.css" />
    <link rel="stylesheet" href="../css/tablet.css" />
  </head>
  <body>
    <div class="container ms-3" style="height:fit-content;">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3" style="border: 15px solid blue; height: 100%;">
        <div class="col digital-responsive-1">
          <div class="row">
            <!-- column 1 -->
            <div class="col-12" style=" border-bottom: 10px solid blue;">
              <h2 class="border-bottom border-2 pb-3 text-primary">Goal</h2>
              <ul class="list-group list-group-flush border-bottom">
                <li
                  class="list-group-item d-flex justify-content-between align-items-start"
                >
                  <span class="fs-4 me-5"><i class="fa-sharp fa-solid fa-flag-checkered"></i></span>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Goal 1</div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum praesentium expedita harum sapiente?
                  </div>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-start"
                >
                  <span class="fs-4 me-5"><i class="fa-sharp fa-solid fa-flag-checkered"></i></span>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Goal 2</div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus iste nihil incidunt unde?
                  </div>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-start"
                >
                  <span class="fs-4 me-5"><i class="fa-sharp fa-solid fa-flag-checkered"></i></span>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Goal 3</div>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur non est eos quas.
                  </div>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="row">
            <!-- column 2 -->
            <div class="col-12" style="border-bottom: 10px solid blue;">
              <h2 class="border-bottom border-2 pb-3 text-primary">Scopes</h2>
              <div class="row">
                <div class="col-6">
                  <h3 class="fw-bold">IN</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Itaque? </br></br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi!
                  </p>
                </div>
                <div class="col-6">
                  <h3 class="fw-bold">OUT</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Itaque? </br></br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi!
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col digital-responsive-2">
          <div class="row">
            <!-- column 3 -->
            <div class="col-12" style=" border-bottom: 10px solid blue;">
              <h2 class="border-bottom border-2 pb-3 text-primary">Team</h2>
              <ul class="list-group list-group-flush">
                <li
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span class="fs-4 me-3"><i class="fa-solid fa-user"></i></span>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Member 01</div>
                    Name: ...
                  </div>
                </li>
                <li
                  class=" d-flex justify-content-between align-items-center mb-3"
                >
                  <span class="fs-4 me-3"><i class="fa-solid fa-user"></i></span>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Member 02</div>
                    Name: ...
                  </div>
                </li>
                <li
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span class="fs-4 me-3"><i class="fa-solid fa-user"></i></span>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Member 03</div>
                    Name: ...
                  </div>
                </li>
                <li
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span class="fs-4 me-3"><i class="fa-solid fa-user"></i></span>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Member 04</div>
                    Name: ...
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row"
            <!-- column 4 -->
            <div class="col-12 test" style=" border-bottom: 10px solid blue;">
              <h2 class="border-bottom pb-3 text-primary">Primary</h2>
              <ul class="list-group list-group-flush">
                <li
                  class="d-flex justify-content-between align-items-start"
                >
                  <span class="fs-4 me-3"><i class="fa-sharp fa-solid fa-circle-question"></i></span>
                  <div class="ms-2 me-auto">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, cupiditate!</p>
                  </div>
                </li>
                <li
                  class=" d-flex justify-content-between align-items-start"
                >
                  <span class="fs-4 me-3"><i class="fa-sharp fa-solid fa-circle-question"></i></span>
                  <div class="ms-2 me-auto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, ab?</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- column 5 -->
        <div class="col digital-responsive-3 mb-3">
          <h2 class="border-bottom pb-3 text-primary">Timeline</h2>
          <ul class="list-group list-group-flush">
            <li
              class="border-primary d-flex justify-content-between align-items-center"
              style="border-bottom-style: dotted; border-width: 0.2px;"
            >
              <span class="badge border border-dark text-white bg-primary p-2 rounded-circle me-3" style="background-color: hsl(263, 92%, 66%) !important;">01</span>
              <div class="ms-2 me-auto">
                <div class="fw-bold">Project Date</div>
                <p class="fs-6">Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li
              class="border-primary d-flex justify-content-between align-items-center"
              style="border-bottom-style: dotted; border-width: 0.2px;"
            >
              <span class="badge border border-dark text-white bg-primary p-2 rounded-circle me-3" style="background-color: hsl(263, 92%, 66%) !important;">02</span>
              <div class="ms-2 me-auto">
                <div class="fw-bold">Project Date</div>
                <p class="fs-6">Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li
            class="border-primary d-flex justify-content-between align-items-center"
            style="border-bottom-style: dotted; border-width: 0.2px;"
            >
              <span class="badge border border-dark text-white bg-primary p-2 rounded-circle me-3" style="background-color: hsl(263, 92%, 66%) !important;">03</span>
              <div class="ms-2 me-auto">
                <div class="fw-bold">Project Date</div>
                <p class="fs-6">Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li
              class="border-primary d-flex justify-content-between align-items-center"
              style="border-bottom-style: dotted; border-width: 0.2px;"
            >
              <span class="badge border border-dark text-white bg-primary p-2 rounded-circle me-3" style="background-color: hsl(263, 92%, 66%) !important;">04</span>
              <div class="ms-2 me-auto">
                <div class="fw-bold">Project Date</div>
                <p class="fs-6">Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li
              class="border-primary d-flex justify-content-between align-items-center"
              style="border-bottom-style: dotted; border-width: 0.2px;"
            >
              <span class="badge border border-dark text-white bg-primary p-2 rounded-circle me-3" style="background-color: hsl(263, 92%, 66%) !important;">05</span>
              <div class="ms-2 me-auto">
                <div class="fw-bold">Project Date</div>
                <p class="fs-6">Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li
              class="border-primary d-flex justify-content-between align-items-center"
              style="border-bottom-style: dotted; border-width: 0.2px;"
            >
              <span class="badge border border-dark text-white bg-primary p-2 rounded-circle me-3" style="background-color: hsl(263, 92%, 66%) !important;">06</span>
              <div class="ms-2 me-auto">
                <div class="fw-bold">Project Date</div>
                <p class="fs-6">Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li
              class="border-primary d-flex justify-content-between align-items-center"
              style="border-bottom-style: dotted; border-width: 0.2px;"
            >
              <span class="badge border border-dark text-white bg-primary p-2 rounded-circle me-3" style="background-color: hsl(263, 92%, 66%) !important;">07</span>
              <div class="ms-2 me-auto">
                <div class="fw-bold">Project Date</div>
                <p class="fs-6">Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/96bd41738a.js" crossorigin="anonymous"></script>
  </body>
</html>
